<div class="ui ordered steps">
  <div class="active step">
    <div class="content">
      <div class="title">
        <i class="truck icon"></i>
        Shipping
      </div>
      <div class="description">Choose your shipping options</div>
    </div>
  </div>

  <div class="step">
    <div class="content">
      <div class="title"><i class="payment icon"></i>Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="step">
    <div class="content">
      <div class="title"><i class="info icon"></i>Confirm Order</div>
      <div class="description">Verify order details</div>
    </div>
  </div>
</div>
<shipping-information></shipping-information>
<billing></billing>
<confirm-order></confirm-order>
