.form {
  &__size {
    width: 51%;
    height: 340px;
  }

  &__position{
    position: absolute;
    top: 14%;
  }
}

@media screen and (max-width: 1170px) {
  .form__size {
    width: 65%;
  }
}

@media screen and (max-width: 950px) {
  .form__size {
    width: 85%;
  }
}

@media screen and (max-width: 750px) {
  .form__size {
    width: 55%;
  }
}

.fullName_formatting{
    text-transform: uppercase;
}
